{% include "header.html" %}
<br><br><br>
    <div class="container text-center">
        <h5>Tag abschliessen</h5><br><br>

        <form method="POST">
            <!--<input type="text" class="form-control" name="person" placeholder="Vorname Name"><br>-->
            <input type="date" class="form-control" name="datum" placeholder="Datum"><br>
            <label for="morgenid">Morgen</label>
            <input type="checkbox" name="morgen" id="morgenid" value="Ja"><br>
            <label for="mittagid">Mittag</label>
            <input type="checkbox" name="mittag" id="mittagid" value="Ja"><br>
            <label for="abendid">Abend</label>
            <input type="checkbox" name="abend" id="abendid" value="Ja"><br>
            <label for="nachtid">Nacht</label>
            <input type="checkbox" name="nacht" id="nachtid" value="Ja"><br>
            <button type="submit" class="btn btn-outline-success">speichern</button>
        </form>
        <br><h6>{{ tagesabschluss }}</h6>
    </div>




{% include "footer.html" %}