<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <title>medtrack</title>
</head>
<body>

<!-- Quelle Navigation: https://getbootstrap.com/docs/4.1/examples/navbar-fixed/ -->
<header>
 <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-success">

      <div class="collapse navbar-collapse justify-content-md-center">
        <ul class="navbar-nav">
            <li>
                <img src="{{url_for('static', filename='Logo.jpg')}}" width="100" >
            </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="{{ url_for('suche') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="{{ url_for('neuereintrag') }}">Neuer Eintrag</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="{{ url_for('allepersonen')}}">Alle Personen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="{{ url_for('allelogs')}}">Alle Logfiles</a>
          </li>
        </ul>
      </div>
    </nav>
</header>