{% include "header.html" %}
<section class="jumbotron text-center">
    <div class="container">
        <h1>Willkommen bei medtrack!</h1><br><br>


        <form method="POST">
            <input type="text" name="suchbegriff" placeholder="Suchbegriff">
            <button type="submit" class="btn btn-outline-success">Suchen</button>
        </form>
    </div>
</section>
<!--
<form method="POST">
    <input type="text" name="vorname_neu" placeholder="Vorname">
    <input type="text" name="nachname_neu" placeholder="Nachname">
    <button type="submit">Neue Person erfassen</button>
</form>
-->

{% include "footer.html" %}