{% include "header.html" %}
<br><br><br><br>
    <div class="container text-center">
        <div class="row">
            <div class="col-12">
        <h1>Willkommen bei medtrack!</h1><br><br><br><br>
            </div>
            <div class="col-2"></div>
            <div class="col-5">
        <form method="POST">
            <input type="text" name="suchbegriff" class="form-control" placeholder="Vorname Name">
            </div>
            <div class="col-3">
            <button type="submit" class="btn btn-outline-success btn-block">Suchen</button>
            </div>
            <div class="col-12"><br>{{ suchfunktion }}</div>
        </form>
        </div>
    </div>
</div>

{% include "footer.html" %}