{% include "header.html" %}
<br><br><br>
    <div class="container text-center">
        <div class="row">
            <div class="col-12">
            <h3>Neuer Eintrag</h3>
            </div>
            <div class="col-6">
            <form method="POST">
                 <h5>Personalien</h5><br>
                <input type="text" class="form-control" name="vorname" placeholder="Vorname"><br>
                <input type="text" class="form-control" name="name" placeholder="Nachname"><br>
                <label>Geburtsdatum</label>
                <input type="date" class="form-control" name="geburtstag"><br>
            </div>
            <div class="col-6">
                <h5>Benötigte Medikamente</h5><br>
                <input type="text" class="form-control" name="morgen" placeholder="Morgens" ><br>
                <input type="text" class="form-control" name="mittag" placeholder="Mittags"><br>
                <input type="text" class="form-control" name="abend" placeholder="Abends"><br>
                <input type="text" class="form-control" name="nacht" placeholder="Nachts"><br>
                <input type="text" class="form-control" name="bemerkung" placeholder="Bemerkungen"><br>
            </div>

            <div class="col-4"></div>
            <div class="col-4">
                <button type="submit" class="btn btn-outline-success btn-block">Erfassen</button>
            </form>
        </div>
    </div>
    </div>


{% include "footer.html" %}