{% include "header.html" %}
<div class="container">
    <br>
    <form method="POST">
        {% for person, angaben in personen.items() %}
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <br><br><h5>{{ person }}</h5>
                Geburtsdatum: {{ angaben["Geburtsdatum"] }}
                <br>Morgens: {{ angaben["Morgen"] }}
                <br>Mittags: {{ angaben["Mittag"] }}
                <br>Abends: {{ angaben["Abend"] }}
                <br>Nachts: {{ angaben["Nacht"] }}
                <br>Bemerkungen: {{ angaben["Bemerkungen"] }}<br><br>
            </div>
    </form>
            <div class="col-3"></div>
            <div class="col-3"></div>
            <div class="col-2">
                <!--<button type="submit" class="btn btn-outline-success btn-block" name="button" value="{{ person }}">Tagesabschluss</button>-->
                <a class="btn btn-outline-success btn-block" href="{{ url_for('abschluss')}}" role="button">Tagesabschluss</a>
            </div>
            <div class="col-2">
                <!--wenn zwei Button, dann müssen beide name="Button" haben und die value muss individuell sein. -->
                <button type="submit" class="btn btn-outline-success btn-block" name="logfileperson" value="{{ person }}">Logfile</button>
            </div>
            <div class="col-2">
                <a class="btn btn-outline-success btn-block" href="{{ url_for('abschluss')}}" role="button">Statistik</a>
            </div>
        <div class="col-3"></div>
    </div>
        {% endfor %}

</div>




{% include "footer.html" %}